* {
  font-family: 'Segoe UI',sans-serif;
}

body {
  margin: auto;
}
/* settings for buttons and hover function */
.countryBtn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.5s;
}

.buttonNumbers {
  border: 1px solid darkgray;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.5s;
  width: 50px;
  height: 50px;
  margin: 2.5px
}
.buttonNumbers:hover {
  /*background-color: white;
  color: black;*/
  font-weight: bold;
  /*border: 1px solid lightgray;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.active, .countryBtn:hover {
  background-color: #db0202;
  color: white
}

main {
  width: 60%;
  border: 6px solid black;
  margin: auto;
  text-align: center;
  background-color: rgba(252, 255, 83, 0.95);
}

.numbers{
  animation: fadeEffect 1s;
}

/*#Senden {
  /*align-self: flex-end;
}*/

#Senden input {
  background-color: #db0202;
  padding: 10px 16px;
  color: white;
  border: 1px solid #db0202;
  border-radius: 50px;
  transition: 0.5s;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
}
#Senden input:hover {
  background-color: #ff2f2f;
  color: white;
  border: 1px solid #ff3f3f;
  transition: 0.5s;
  /*border: 2px solid #db0202;*/
  cursor: pointer;
}

header {
  text-align: center;
  background-color: white;
  overflow: hidden;
  text-align: center;
  color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.301);
  padding: 2px 0px 15px;
  margin-bottom: 50px;
}

h1 {
  color: #db0202;
}

h2 {
  color: rgb(0, 0, 0);
  text-shadow: black;
  margin-top: 50px;
}
/* pictures loader */
#mainpage {
  background-image: url(assets/lotto.jpg);
  min-height: 100%;
}

#agecheck {
  background-image: url(assets/money.jpg);
}

#result {
  background-image: url(assets/money.jpg);
}

/*############################################################################*/

/* footer settings */
footer {
  background-color: #db0202;
  /*bottom: 0;*/
  position: relative;
  color: white;
  text-align: center;
  margin-top: 70px;
  padding: 30px;
}

/*############################################################################*/

/* Settings for the sidenavigation tab */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #db0202;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border: 1px black;
  }

  /* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(252, 255, 83);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Style the tab */
.tab {
  overflow:hidden;
  border: 1px solid;
  background-color: white;
  position: relative;
}

#buttons {
  margin-top: 20px;
}

/* Change background color of buttons on hover */
.tab button {
  background-color: inherit;
  float: unset;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-align: center;
}

.tab button:hover {
  background-color: rgb(255, 151, 151);
}

.tab button.active {
  background-color: #db0202;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* Slider settings */
.slidecontainer {
  width: 100%;
}

.slider:hover{
  opacity:1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #db0202;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

/*############################################################################*/

 #choice {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  margin: auto;
  /*margin-bottom: 35px;*/
  width: 70%;
  /*justify-content: center;*/
}
/*#form_box1 {
  order: 0;
  flex-grow: 1;
  text-align: left;
}
#form_box1 input {
  margin-bottom: 15px;
}
#form_box2 {
  order: 1;
  flex-grow: 1;
}*/

/*############################################################################*/

#finalNumbers, #finalDraw, #finalCountry {
  background-color: rgba(252, 255, 130, 0.95);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(252, 255, 110, 0.95);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15px;
}
#finalDraw {
  width: 38%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Das gleiche für Firefox*/
input[type=number] {
    -moz-appearance:textfield;
    background-color: rgba(252, 255, 130, 0.95);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(252, 255, 110, 0.95);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

li {
  list-style: none;
}

/*############################################################################*/

#agecheck h2 {
  margin-bottom: 40px;
}
#alterscheck_footer {
  position: absolute;
  bottom: 0;
}

#age {
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #db0202;
  padding: 10px 16px;
  color: white;
  border: 1px solid #db0202;
  border-radius: 50px;
  transition: 0.5s;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
}
#age:hover {
  background-color: #ff2f2f;
  color: white;
  border: 1px solid #ff3f3f;
  transition: 0.5s;
  /*border: 2px solid #db0202;*/
  cursor: pointer;
}

/*############################################################################*/

iframe {
  margin: auto;
}
